
.idea/workspace.xml

.idea/workspace.xml

.idea/workspace.xml

.idea/inspectionProfiles/Project_Default.xml

.idea/workspace.xml

.idea/workspace.xml

crm_site/.idea/.name

crm_site/.idea/crm_site.iml

crm_site/settings.py

crm_site/settings.pyc

crm_site/.idea/workspace.xml

crm_site/.idea/vcs.xml

crm_site/.idea/modules.xml

crm_site/.idea/misc.xml

.idea/workspace.xml

.idea/inspectionProfiles/profiles_settings.xml

crm_site/settings.py
