{% extends 'crm/layout/homeLayout.html' %}
{% block rightWorkArea %}
    {% load BlockTag %}
    {% load PhraseTag %}
    {% load FormTag %}
    {% load FieldSelectTag %}
    {% load staticfiles %}
    {% ifequal nav.pageStatus '' %}
        {% BlockTag "TMC" N Y N %}
        <table id="tmcList"
               class="table table-striped table-condensed table-bordered bootstrap-datatable responsive"
               cellspacing="0" width="100%">
        </table>
        <script>
            function format(d) {
                var accountsHtml = ''
                if (d.accounts.length != 0) {
                    accountsHtml = "<table class=\"table table-striped table-condensed table-bordered bootstrap-datatable datatable responsive\"><thead><tr><th width='20%'>企业</th><th width='10%'>卡号</th><th width='10%'>本年</th><th width='10%'>本季度</th><th width='10%'>本月</th><th width='10%'>本周</th></tr></thead><tbody>{0}</tbody></table>"
                    tableData = ""
                    for (i in d.accounts) {
                        tableData += String.format("<tr><td>{0}</td><td>{1}</td><td>{2}</td><td>{3}</td><td>{4}</td><td>{5}</td></tr>",
                                d.accounts[i].accountName,
                                d.accounts[i].accountNumber,
                                d.accounts[i].statistics.year.totalSum,
                                d.accounts[i].statistics.season.totalSum,
                                d.accounts[i].statistics.month.totalSum,
                                d.accounts[i].statistics.week.totalSum)
                    }
                    accountsHtml = String.format(accountsHtml, tableData)
                } else {
                    accountsHtml = '无'
                }
                return '山旅通账户信息：' + accountsHtml;
            }

            $(document).ready(function () {
                var dt = $('#tmcList').DataTable({
                    {% PhraseTag g_default dataTableComm %}
                    "aaSorting": [],
                    "processing": true,
                    "serverSide": false,
                    "ajax": {
                        url: '/crm/ajax?t=tmclist',
                        dataSrc: '',
                        error: function (xhr, textStatus, error) {
                        }
                    },
                    "columns": [
                        {
                            "class": "details-control",
                            "orderable": false,
                            "data": null,
                            "defaultContent": "",
                            "width": '3%'
                        },
                        {
                            "sortable": true,
                            "data": "name",
                            "title": "{% PhraseTag g_default name %}",
                            "width": '10%'
                        },
                        {
                            "data": "accountsCount",
                            "title": "{% PhraseTag g_default corpCount %}",
                            "width": '7%'
                        },
                        {"data": "district", "title": "{% PhraseTag g_default district %}", "width": '5%'},
                        {
                            "sortable": true,
                            "data": "touched",
                            "render": function (data, type, full, meta) {
                                if (full.touched) {
                                    return "<i class=\"glyphicon glyphicon-ok  green\"> 已触达</i>"
                                } else {
                                    return "<i class=\"glyphicon glyphicon-remove red\"> 未触达</i>"
                                }
                            },
                            "title": "{% PhraseTag g_default touched %}",
                            "width": "7%"
                        },
                        {
                            "sortable": true,
                            "data": "signed",
                            "render": function (data, type, full, meta) {
                                if (full.signed) {
                                    return "<i class=\"glyphicon glyphicon-ok green\"> 已签约</i>"
                                } else {
                                    return "<i class=\"glyphicon glyphicon-remove red\"> 未签约</i>"
                                }
                            },
                            "title": "{% PhraseTag g_default signed %}",
                            "width": "7%"
                        },
                        {
                            "sortable": true,
                            "data": "connected",
                            "render": function (data, type, full, meta) {
                                if (full.connected) {
                                    return "<i class=\"glyphicon glyphicon-ok  green\"> 已对接</i>"
                                } else {
                                    return "<i class=\"glyphicon glyphicon-remove red\"> 未对接</i>"
                                }
                            },
                            "title": "{% PhraseTag g_default connected %}",
                            "width": "7%"
                        },
                        {"data": "text", "title": "{% PhraseTag order text %}", "width": '30%'},
                        {
                            "sortable": false,
                            "render": function (data, type, full, meta) {
                                return "<button class=\"btn btn-primary btn-sm\" onclick=\"javascript:toNav ('tmc','edit','" + full.id + "')\">{% PhraseTag g_default edit %}</button>"
                            },
                            "title": "{% PhraseTag order operation %}",
                            "width": "5%"
                        }
                    ]
                });

                // Array to track the ids of the details displayed rows
                var detailRows = [];

                $('#tmcList tbody').on('click', 'tr td.details-control', function () {
                    var tr = $(this).closest('tr');
                    var row = dt.row(tr);
                    var idx = $.inArray(tr.attr('id'), detailRows);

                    if (row.child.isShown()) {
                        tr.removeClass('details');
                        row.child.hide();
                        // Remove from the 'open' array
                        detailRows.splice(idx, 1);
                    }
                    else {
                        tr.addClass('details');
                        {#                                html = "<table class=\"datatable responsive\"><thead><tr><th width='20%'>企业</th></tr></thead><tbody><tr><td>2</td></tr><tr><td>3</td></tr></tbody></table>"#}
                        {#                                row.child(html).show();#}
                        row.child(format(row.data())).show();
                        // Add to the 'open' array
                        if (idx === -1) {
                            detailRows.push(tr.attr('id'));
                        }
                    }
                });

                // On each draw, loop over the `detailRows` array and show any child rows
                dt.on('draw', function () {
                    $.each(detailRows, function (i, id) {
                        $('#' + id + ' td.details-control').trigger('click');
                    });
                });
            });
        </script>
        {% EndBlockTag %}
    {% endifequal %}
    {% ifequal nav.pageStatus 'edit' %}
        {% BlockTag "TMC Detail" N Y N %}
        {% FormTag f home %}
        <div class="row">
            {% csrf_token %}
            <div class="col-md-6">
                <button class="btn btn-primary btn-sm"
                        onclick="javascript:toNavWith ('f','tmc','save')">{% PhraseTag g_default save %}</button>
                <button class="btn btn-primary btn-sm"
                        onclick="javascript:toNavWith ('f','tmc','cancel')">{% PhraseTag g_default cancel %}</button>
            </div>
        </div>
        <div class="clearfix"><br></div>
        <div class="row">
            <div class="col-md-6">
                <label for="name1">{% PhraseTag order name %}</label>
                <input type="text" class="form-control" name="" placeholder="" value="{{ model.name1 }}"
                       readonly>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label for="address">{% PhraseTag g_default address %}</label>
                <input type="text" class="form-control" name="address" placeholder=""
                       value="{{ model.address1.address1 }}">
            </div>
            <div class="col-md-6">
                <label for="address">{% PhraseTag g_default district %}</label>
                {% FieldSelectTag district model.address1.district.key SA01 district \ %}
            </div>
        </div>
        <div class="clearfix"><br></div>
        <div class="row">
            <div class="col-md-4">
                <label>
                    <input type="checkbox" id="ck1" name="touched" value="true"
                           {% if  model.bpcustomized.boolAttribute1 %}checked{% endif %}> {% PhraseTag g_default touched %}
                </label>
            </div>
            <div class="col-md-4">
                <label>
                    <input type="checkbox" id="ck2" name="signed" value="true"
                           {% if  model.bpcustomized.boolAttribute2 %}checked{% endif %}> {% PhraseTag g_default signed %}
                </label>
            </div>
            <div class="col-md-4">
                <label>
                    <input type="checkbox" id="ck3" name="connected" value="true"
                           {% if  model.bpcustomized.boolAttribute3 %}checked{% endif %}> {% PhraseTag g_default connected %}
                </label>
            </div>
        </div>
        <div class="clearfix"><br></div>
        <div class="row">
            <div class="col-md-12 col-xs-12 ">
                <label for="text">{% PhraseTag bp newText %}</label>
                <textarea name="text" class="well" style="width:100%"></textarea>
            </div>
        </div>
        <div class="clearfix"><br></div>
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <label for="text">{% PhraseTag bp allText %}</label>

                <div class="well">{{ modelText | safe }}</div>
            </div>
        </div>
        {% EndFormTag %}
        {% EndBlockTag %}
    {% endifequal %}
{% endblock %}

